Source: mochiweb
Section: web
Priority: extra
Maintainer: David N. Welton <davidw@dedasys.com>
Build-Depends: debhelper (>= 7), erlang
Standards-Version: 3.8.1
Homepage: http://code.google.com/p/mochiweb/

Package: mochiweb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MochiWeb is an Erlang library for building lightweight HTTP servers.
 MochiWeb is a simple/light Erlang system for creating HTTP servers.
